<div class="page-header">
  <h1>What do you want to eat?</h1>
</div>
<% @meals.each do |meal| %>
    <div class="col-lg-3   col-md-4 col-sm-12" style="padding: 5px">
      <%= link_to image_tag(meal.image.url(:square), class: "img-circle"), meal_path(meal) %><br>
      <%= link_to meal.title, meal_path(meal) %> at <%= meal.user.name %>'s place<br>
      <%= HumanDate.from_today(meal.time) %> at <%= meal.time.strftime("%H:%M") %>
    </div>
<% end %>
