<div class="page-header">
  <h1><%= @meal.title %></h1>
</div>
<%= image_tag @meal.image.url(:medium) %>

<div class="form-actions pull-right">
  <ul style="list-style-type: none">
    <li><%= image_tag(@meal.user.image_url) %></li>
    <li>At  <%= @meal.user.name %>'s place</li>
    <li><%= HumanDate.from_today(@meal.time) %> at <%= @meal.time.strftime("%H:%M") %></li>
    <li>Price: <%= @meal.price %> NOK</li>
    <li>
      <% if current_user %>
          <button id="book" class="btn-lg btn-primary">Book this meal now!</button>
      <% else %>
          <button class="btn-lg btn-primary">Log in to book this meal</button>
      <% end %>
    </li>
  </ul>
</div>

<p><%= simple_format(@meal.description) %></p>

<% content_for :page_javascript do %>
    <script type='text/javascript'>
        $('#book').click(function(){
            window.location.href = '<%= meal_bookings_path(@meal.id) %>';
        });
   </script>
<% end %>
